<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
   version="2.5"> 
   
   <servlet>  <!-- 注册Servlet -->
   	<description>Test 可省略</description>
   	<display-name>Test 可省略</display-name>
   	<servlet-name>ServletDemo1</servlet-name>  <!-- 注册名称 -->
   	<servlet-class>com.test.servlet.ServletDemo1</servlet-class>
   </servlet>
   <servlet-mapping>  <!-- 映射一个已注册的Servlet的一个对外访问路径 -->
   	<servlet-name>ServletDemo1</servlet-name>
   	<url-pattern>/1</url-pattern>
   </servlet-mapping>
   <servlet-mapping>  <!-- 映射一个已注册的Servlet的一个对外访问路径 -->
   	<servlet-name>ServletDemo1</servlet-name>
   	<url-pattern>*.do</url-pattern>
   </servlet-mapping>
   
   <servlet>
    <servlet-name>ServletDemo2</servlet-name>
    <servlet-class>com.test.servlet.ServletDemo2</servlet-class>
    <!--配置ServletConfigDemo1的初始化参数 -->
    <init-param>
        <param-name>name</param-name>
        <param-value>张三</param-value>
    </init-param>
     <init-param>
        <param-name>password</param-name>
        <param-value>123</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
</servlet>
   
</web-app>